.reset-form {
    padding: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    .title {
        font: $heading-bold-24;
        text-align: center;
        margin-bottom: 10px;

        &-success {
            font: $heading-bold-32;
            color: #10b981;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__wrapper {
            max-width: 550px;
            width: 100%;
            padding: 20px;
        }
    }

    .back-btn {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
        max-width: 235px;

        :deep(.p-button-icon) {
            margin-right: 5px;
        }
    }
}
