.password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__wrapper {
            max-width: 500px;
            width: 100%;
            padding: 20px;

            .title {
                font: $heading-bold-32;
                text-align: center;
                margin-bottom: 10px;
            }

            .text {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .submit {
                height: 45px;
            }
        }
    }
}
